server.port: 8080


spring.messages.use-code-as-default-message: true
spring.datasource.url: jdbc:postgresql://${postgres_host}:${postgres_port}/${postgres_database}?ApplicationName=kayttooikeus-service
spring.datasource.username: ${postgres_username}
spring.datasource.password: ${postgres_password}
spring.datasource.hikari.maximum-pool-size: 20
spring.datasource.hikari.connection-timeout: 10000
spring.datasource.hikari.max-lifetime: 900000

cas.service: https://virkailija.opintopolku.fi/kayttooikeus-service
cas.mfa.username: ${ssm_cas_mfa_username}
cas.mfa.password: ${ssm_cas_mfa_password}
cas.mfa.encryption-key: ${ssm_cas_gauth_encryption_key}
cas.mfa.signing-key: ${ssm_cas_gauth_signing_key}

host-virkailija: "virkailija.opintopolku.fi"
host-oppija: "opintopolku.fi"
host-cas: "virkailija.opintopolku.fi"
host-varda: "frontend.varda-db.csc.fi"

palvelukayttaja.username: ${ssm_kayttooikeus_username}
palvelukayttaja.password: ${ssm_kayttooikeus_password}
kayttooikeus.palvelukayttaja.client-id: ${ssm_kayttooikeus_oauth2_client_id}
kayttooikeus.palvelukayttaja.client-secret: ${ssm_kayttooikeus_oauth2_client_secret}
kayttooikeus.jwt.issuer-uri: https://prod.otuva.opintopolku.fi/kayttooikeus-service

kayttooikeus.userdetails.enabled: true

common.admin-oid: "1.2.246.562.24.00000000001"
common.crypto-password: ${ssm_kayttooikeus_crypto_password}

kayttooikeus.uses-ssl-proxy: true
kayttooikeus.disable-same-site-cookie: false
kayttooikeus.scheduling.enabled: true
kayttooikeus.kutsu.allowlist-oids: ${ssm_kayttooikeus_kutsu_allowlist}
kayttooikeus.oauth2.publickey: ${ssm_kayttooikeus_oauth2_publickey}
kayttooikeus.oauth2.privatekey: ${ssm_kayttooikeus_oauth2_privatekey}

auth.crypto-service.static-salt: ${ssm_auth_cryptoservice_static_salt}

viestinvalitys.baseurl: https://viestinvalitys.opintopolku.fi/lahetys
