<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mock Substance Service - Home Page</title>
</head>
<body>
<header>
    <h1 th:text="${message}">Default Welcome Message</h1>
</header>

<main>
    <p>Sessionid: <span id="sessionId" data-testid="sessionId" th:text="${sessionId}"></span></p>
    <p>Credentials (CAS ticket): <span id="credentials" data-testid="credentials" th:text="${credentials}"></span></p>
    <ul>
        <li>
            <a th:href="@{/secure}">
                Go to secure page
            </a>
        </li>
        <li>
            <a th:href="@{/login}">Login</a>
        </li>
        <li>
            <a th:href="@{/logout}">
                Logout
            </a>
        </li>
    </ul>
</main>
</body>
</html>