services:
  database:
    container_name: kayttooikeus-db
    image: postgres:16.4@sha256:e62fbf9d3e2b49816a32c400ed2dba83e3b361e6833e624024309c35d334b412
    environment:
      - POSTGRES_DB=kayttooikeus
      - POSTGRES_USER=oph
      - POSTGRES_PASSWORD=oph
    ports:
      - 5436:5432
    command: ["postgres", "-c", "log_statement=all"]
  test-database:
    container_name: kayttooikeus-test-db
    image: postgres:16.4@sha256:e62fbf9d3e2b49816a32c400ed2dba83e3b361e6833e624024309c35d334b412
    environment:
      - POSTGRES_DB=kayttooikeus
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=kayttooikeus
    ports:
      - 5437:5432
    command: ["postgres", "-c", "log_statement=all"]
