*.iml
target
.project
.idea
.settings
.classpath
.DS_store
overlays
node_modules

/bin
/build
/.gradle

rebel.xml
*.log

cdk.out/
infra/cdk.context.json

## Ignore localkeystore at root level, another ignore definition in cas-oppija/.gitignore
**/localkeystore.jks