version: '3'
services:
  database:
    container_name: kayttooikeus-db
    image: postgres:13.4
    environment:
      - POSTGRES_DB=kayttooikeus
      - POSTGRES_USER=oph
      - POSTGRES_PASSWORD=oph
    ports:
      - 5436:5432
  test-database:
    container_name: kayttooikeus-test-db
    image: postgres:13.4
    environment:
      - POSTGRES_DB=kayttooikeus
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=kayttooikeus
    ports:
      - 5437:5432
