@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";

$activeElement:   #159ECB;
$darkBlue:        #00526C;
$backgroundGray:  #F6F4F0;
$hoverElement:    #00B5EF;

$successBackground: #E6FEC4;
$successBorder:     #AFDC72;
$errorBackground:   #FFE9E9;
$errorBorder:       #E09191;

$aipal:                 #F38019;
$aitu:                  #E5001C;
$arvo:                  #7BBE31;
$eperusteet:            #FECD0A;
$koski:                 #149940;
$oikeustulkkirekisteri: #898989;
$oiva:                  #7E007E;
$opintopolku:           #3B7ADB;
$valtionavaustukset:    #211B81;


body{
  background: #F6F4F0;
}
#header {
  background: white;
  img{
    margin: 15px;
    padding-left: 40px;
  }
  .languageSelector {
    line-height: 90px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    list-style-type: none;
    display:inline;
    li {
      display: inline;
      color: #ADADAD;
      a {
        color: #4A4A4A;
        font-size: 16px;
      }
    }

    li + li:before{
      margin-left: 10px;
      margin-right: 10px;
      content: " | "
    }
  }
}

.error{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #2B2B2B;
  letter-spacing: 0px;
  line-height: 16px;
  background: $errorBackground ;
  border: 1px solid $errorBorder;
  border-radius: 2px;
  &:focus{
    background: $errorBackground !important;
  }
}

.errortext{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: $errorBorder ;
  padding-top: 10px;
}


.notice{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 16px;
  background: #EF8E1D;

  border-radius: 2px;
}

.cookieHeader{
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  height: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  .btn-cookies{
    margin-left: 5px;
    height: 20px;
    padding-top: 0;
  }
}

.bullet {
  float: left;
  vertical-align: 5%;

  &.aipal { background-color: $aipal; }
  &.aitu { background-color: $aitu; }
  &.arvo { background-color: $arvo; }
  &.eperusteet { background-color: $eperusteet; }
  &.koski { background-color: $koski; }
  &.oikeustulkkirekisteri { background-color: $oikeustulkkirekisteri; }
  &.oiva { background-color: $oiva; }
  &.opintopolku { background-color: $opintopolku; }
  &.valtionavustukset { background-color: $valtionavaustukset; }

}

.btn-login {
  color: #FFFFFF !important;
  background-color: $activeElement;
  width: 100%;
  height: 60px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 20px;
  margin-top: 10px;
  border: 0 !important;
  &:hover{
    background: $hoverElement;
    color: #FFFFFF;
  }
  &:focus{
    background: $hoverElement !important;
  }
}
.btn-cookies {
  color: #FFFFFF;
  background-color: $activeElement;
  &:hover{
    background: $hoverElement;
    color: #ffffff;
  }
}

#content{
  padding: 20px;
  text-align: center;
  div{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.box {
  background: #F6F4F0;
  width: 380px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 25px !important;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #888888;
  font-family: 'Open Sans', sans-serif;
  .login-box{
    height: 250px}
  .short-box {
    max-height: 160px}
  div{
    padding-top: 10px;
    padding-bottom: 10px;
    input {
      width: 100%;
      font-size: 15px;
      color: #2B2B2B;
      letter-spacing: 0px;
      line-height: 40px;
      height: 40px;
      padding-left: 10px;
      &:-ms-input-placeholder {
        color: #999;
      }

    }
    input:focus{
      background: #E7F9FF;
    }
  }
  a{
    display: block;
    margin-top: 20px;
  }
}

.login-input {
  border: 1px solid #AEAEAE;
  border-radius: 3px;
}

.link{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #159ECB;
  letter-spacing: 0px;
  line-height: 16px;
  cursor: pointer;
}

.return-link{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #159ECB;
  letter-spacing: 0px;
  line-height: 16px;
  cursor: pointer;
  text-align: left;
  padding: 0 !important;
}

.password-reset-prompt{
  padding: 0 !important;
  p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  }
}

.password-reset-success{
  background-color: $successBackground;
  border: 2px solid $successBorder;
}

.password-reset-failure{
  background-color: $errorBackground;
  border: 2px solid $errorBorder;
}

.password-button-container{
  padding-top: 3px !important;
  margin-top: 0;
}

textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus
{
  outline:0px !important;
  -webkit-appearance:none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size: 32px;
  color: #2A2A2A;
  letter-spacing: 0px;
  font-size: 32px;
  color: #2A2A2A;
  letter-spacing: 0px;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size: 32px;
  color: #2A2A2A;
  letter-spacing: 0px;
  font-size: 24px;
  color: #2A2A2A;
  letter-spacing: 0px;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color: #2A2A2A;
  letter-spacing: 0px;
  font-size: 15px;
  color: #2A2A2A;
  letter-spacing: 0px;
}

text{
  font-family: 'Open Sans', sans-serif;
}

#service-list{
  margin: 0 auto;
  padding-bottom: 10px;
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.50);
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li + li:before {
    content: "\25CF" ;
    font-size: 10px;
  }
  li {
    display: inline;
    a {
      padding-right: 10px;
      padding-left: 10px;
      color: white;
    }
    color: white;
  }
}

.services-title{
  margin-left: 15px;
  margin-bottom: 30px;
}

.service{
  .bullet{
    margin-right: 5px;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transform-origin: center;
    border-radius: 3px;
  }
  #service-title{
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size: 15px;
    color: #2A2A2A;
    letter-spacing: 0px;
  }
  margin-bottom: 20px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;

  vertical-align: top;
}

#tietosuojaseloste{
  margin-right: 30px;
}
.seloste {
  margin: 20px 0px;
}

.seloste-link + .seloste-link> a:before{
  content: ", ";
}

a{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #159ECB;
  letter-spacing: 0px;
  line-height: 16px;
}