:root {
    --mdc-text-button-label-text-color: #f7f7f7;
    --mdc-theme-error: #CC3300;
    --cas-theme-primary: #3A7A10;
    --cas-theme-primary-bg: #F5F7F9;
    --cas-theme-button-bg: #26418f; /* not in use */
    --cas-theme-primary-light: #006d85;
    --cas-theme-secondary: #CCFFCC;
    --cas-theme-success: #9CFF5A;
    --cas-theme-danger: #CC3300;
    --cas-theme-warning: #CC3300;
    --cas-theme-border-light: 1px solid #B2B2B2;
    --mdc-theme-primary: #3A7A10;
}

.oppija-body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif, Arial;
    background: #F5F7F9;
}