logging.level.org:
  springframework.web: info
  hibernate: info

spring.datasource.url: jdbc:postgresql://localhost:5436/kayttooikeus
spring.datasource.username: oph
spring.datasource.password: oph
spring.datasource.hikari.maximum-pool-size: 2
spring.datasource.hikari.connection-timeout: 10000
spring.datasource.hikari.max-lifetime: 900000
spring.jpa.generate-ddl: false
spring.jpa.hibernate.ddl-auto: validate
spring.jpa.hibernate.naming.implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
spring.jpa.hibernate.use-new-id-generator-mappings: true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation: true
spring.flyway.enabled: true
spring.flyway.locations: classpath:db/migration
spring.flyway.table: schema_table_ko2
spring.flyway.baseline-on-migrate: true
spring.flyway.baseline-version: 20240508000000000

spring:
  main:
    banner-mode: "off"
  mandatory-file-encoding: UTF-8
  profiles.active: default
  session:
    store-type: jdbc
  jackson:
    serialization:
      write-dates-as-timestamps: true
  messages:
    use-code-as-default-message: true

management:
  endpoints:
    enabled-by-default: false
  endpoint:
    health:
      enabled: true

server:
  servlet:
    context-path: /kayttooikeus-service
    session:
      cookie:
        name: JSESSIONID
  port: 8080

cas:
  service: http://localhost:${server.port}/kayttooikeus-service
  send-renew: false
  key: kayttooikeus-service
  mfa:
    username: cas
    password: mfa
    encryption-key: LNLuxm3B5mQiIwggT9vPewkGM7JeDebZWCBjdXxCWQY
    signing-key: zMpvJwj7bEMW41YMJbAJzXHaSSH3A1JjzLfwXMSWth9yTFM3Ny3eHXmm9r5AEzU83rYNwGT__SicfrA-7ygRdA

host:
  host-virkailija: localhost:${server.port}
  host-oppija: localhost:${server.port}
  host-cas: localhost:8080
  host-shibboleth: localhost:${server.port}
  host-varda: localhost:${server.port}

palvelukayttaja.username: kayttooikeus
palvelukayttaja.password: kayttooikeus

common:
  root-organization-oid: 1.2.246.562.10.00000000001
  group-organization-id: 1.2.246.562.28
  admin-oid: 1.2.246.562.24.00000000001
  crypto-password: YkXEicbukXv7AouCjUuFUxay

kayttooikeus:
  uses-ssl-proxy: false
  disable-same-site-cookie: false
  scheduling:
    enabled: true
  tasks:
    export:
      enabled: false
      bucket-name: none
      copy-to-lampi: false
      lampi-bucket-name: none
      lampi-role-arn: none
      lampi-external-id: none
kayttooikeus.kutsu.allowlist-oids: 1.2.3.4.6

auth:
  crypto-service:
    static-salt: mock