$theme-colors: (
  "primary": #159ECB
);
$error: #DB2828;
$error-yellow: #B3A24E;
$body-bg: #F6F4F0;
$font-family-sans-serif: 'Open Sans', sans-serif;
@import "4.1.3/scss/bootstrap";

$palvelut: (
    arvo:                   #7BBE31,
    ehoks:                  #FF0000,
    eperusteet:             #FECD0A,
    koski:                  #149940,
    oikeustulkkirekisteri:  #898989,
    oiva:                   #7E007E,
    opintopolku:            #3B7ADB,
    valtionavustukset:      #211B81,
    varda:                  #98975b
);

header {
    background-color: #ffffff;
    color: #adadad;
}
header a {
    color: #4a4a4a;
}

.ilmoitus {
    background-color: #EF8E1D;
    color: #ffffff;
}

.taustakuva {
    background-image: url('/cas/images/taustakuva.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    min-height: 722px;
    align-content: flex-start;
}
.taustakuva a {
    color: #ffffff;
}
.taustakuva .card {
    width: 380px;
    background-color: #f6f4f0;
    box-shadow: 0 0 10px #888888;
    color: #000000;
}
.taustakuva .card a {
    color: $primary;
}

ul.list-inline-bullet li+li:before {
    content: "\25CF";
}
ul.list-inline-bullet li+li a {
    margin-left: .5rem;
}

.bullet {
    float: left;
    vertical-align: 5%;
    margin-right: 5px;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transform-origin: center;
    border-radius: 3px;
}
@each $palvelu, $vari in $palvelut {
    ##{$palvelu} .bullet {
        background-color: $vari;
    }
}

#cas-login-main {
    max-width: 100% !important;
    margin: 0 !important;
}

.back-to-login {
    margin-top: 1rem;
    font-size: 14px;
}

.gauth-info {
    display: flex;
    margin-bottom: 24px;

    &-disabled {
        display: flex;
        margin-bottom: 24px;
        opacity: 0.5;
    }
}

.gauth-text {
    text-align: left;
}

.gauth-title {
    font-weight: 700;
}

.gauth-description {
    font-size: 14px;
}

.gauth-token-input {
    padding-left: 20px;
    letter-spacing: 39px;
    width: 360px;
    min-width: 360px;
    font-size: 24px;
    line-height: 38px;
    border: 0;
    background-image: url('/cas/images/fake-box-input.png');
    background-repeat: repeat-x;
    background-size: contain;
    outline: none;
}

.token-outer-container {
    width: 318px;
    overflow: hidden;
}

.token-inner-container {
    left: 0;
    position: sticky;
}

.token-error {
    color: $error;
    font-size: 14px;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}

.send-info-visible {
    display: block;
    color: $primary;
    font-size: 14px;
    margin-top: 0.5rem;
}

.loginerror {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    color: $error-yellow;
    font-size: 30px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);

    svg {
        margin-bottom: 20px;
    }

    a {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 600;
        color: $error-yellow;
    }
}

#mpassid-button {
    background: #0c3e9d;
    color: white;
    border-radius: 50px;
    padding: 8px 40px;

    img {
        height: 20px;
    }
}