.classpath
!/.project
.project
.settings
.history
.vscode
target/
out/
.idea/
.DS_Store
.idea
overlays/
.gradle/
build/
log/
bin/
*.war
*.iml
*.log
tmp/
./apache-tomcat
buildversion.txt
apache-tomcat.zip