<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body th:fragment="customscripts">
    <script type="text/javascript" src="/cas/js/piwik.js"></script>
    <script type="text/javascript">
        function jqueryReady() {
            var text_fi = [
                "Opintopolussa ja Oma Opintopolussa on käyttökatko perjantaina 29.11.2024. Aiemmasta ilmoituksesta poiketen käyttökatko jatkuu iltaan.",
                "Käyttökatkojen aikana kaikki virkailijan ja Oma Opintopolun -palvelut ovat poissa käytöstä. Pahoittelemme katkojen aiheuttamaa haittaa."
            ];
            var text_sv = [
                "Studieinfo och Min Studieinfo har avbrott fredagen den 29 november 2024. Med avvikelse från vad som tidigare meddelats fortsätter avbrottet under kvällen.",
                "Under avbrottet är alla Studieinfo och Min Studieinfo otillgängliga. Vi ber om ursäkt för besväret som orsakat av avbrotten.",
            ];
            var language = $("body").attr("data-language") || "fi";

            var text = language === "sv" ? text_sv : text_fi;
            var textNodes = text.map(toDiv)
            var container = $("<div></div>", {
                class: "row justify-content-center ilmoitus",
            }).append(textNodes);
            container.prependTo("main");
        }

        function toDiv(s) {
            return $("<div></div>").text(s);
        }
    </script>
</body>
</html>
