<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Footer Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>
<body th:fragment="customscripts">
    <script type="text/javascript" src="/cas/js/piwik.js"></script>
    <script type="text/javascript">
        function jqueryReady() {
            var text_fi = []
            var text_sv = []
            if (window.location.hostname === "virkailija.testiopintopolku.fi") {
                text_fi = []
                text_sv = []
            }
            if (window.location.hostname === "virkailija.opintopolku.fi") {
                text_fi = ["Virkailijan Opintopolun MPASSid-hallintapalvelussa on käyttökatko 6.3.2026 kello 10-11. Katkon aikana palvelu on poissa käytöstä. Pahoittelemme katkon aiheuttamaa haittaa."]
                text_sv = ["På grund av underhållsförfaranden är MPASSid för administratörer ur bruk på fredagen 6.3.2026 klockan 10-11.  Vi ber om ursäkt för eventuella olägenheter som avbrotten förorsakar."]
            }
            var language = $(document.documentElement).attr("lang") || "fi";

            var text = language === "sv" ? text_sv : text_fi;
            var textNodes = text.map(toDiv)
            var container = $("<div></div>", {
                class: "row justify-content-center ilmoitus",
            }).append(textNodes);
            container.prependTo("main");
        }

        function toDiv(s) {
            return $("<div></div>").text(s);
        }
        $(document).ready(jqueryReady);
    </script>
</body>
</html>
