<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Login Form Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>
<body>
<main role="main" class="container">
    <div class="row">
        <div class="col-md">
            <div th:fragment="haka" class="card mx-auto mb-2">
                <div class="card-body">
                    <p class="card-text" th:utext="#{hakaLogin.description}" />
                    <p class="card-text">
                        <a th:with="parameters=${service != null} ? '?redirect=' + ${T(org.springframework.web.util.UriComponentsBuilder).fromHttpUrl(service.originalUrl).toUriString()} : ''"
                           th:href="${cas.custom.properties['hakaUrl']} + ${parameters}">
                            <img src="/cas/images/haka_landscape_medium.gif" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
