<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="60">
    <Properties>
        <Property name="cas-oppija.log.level">${env:CAS_OPPIJA_LOG_LEVEL:-info}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
            <ThresholdFilter level="debug" />
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="fi.vm.sade.javautils.http.HttpServletRequestUtils" level="ERROR"/>
        <AsyncLogger name="org.apache.coyote.http11.Http11Processor" level="DEBUG" />
        <AsyncLogger name="fi.vm.sade.cas.oppija" level="${sys:cas-oppija.log.level}" includeLocation="true"/>
        <AsyncRoot level="info">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
