<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="60">
    <Properties>
        <Property name="root.log.level">{{ env_loglevel }}</Property>
{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
        <Property name="cas-oppija.log.level">${env:CAS_OPPIJA_LOG_LEVEL:-info}</Property>
    </Properties>

    <Appenders>
        <RollingFile name="file" fileName="/root/logs/cas-oppija.log" append="true"
                     filePattern="/root/logs/cas-oppija-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n"/>
             <ThresholdFilter level="debug" /><!-- trace suoraan roskiin -->
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncLogger name="org.apereo.inspektr.audit.support" level="info" includeLocation="true" />
        <AsyncLogger name="fi.vm.sade.cas.oppija" level="${sys:cas-oppija.log.level}" includeLocation="true"/>
        <AsyncLogger name="org.opensaml.core.config" level="debug" includeLocation="true=" />
        <AsyncRoot level="${root.log.level}">
            <AppenderRef ref="file"/>
        </AsyncRoot>
    </Loggers>
{% endraw %}
</Configuration>
