<footer th:if="${#cas.isTrue(#cas.theme('cas.footer.show'))}"
        class="py-3 d-flex justify-content-center align-items-center cas-footer"
        id="casFooter" role="contentinfo">
    <span class="oph-brand mx-auto">
        <a href="http://opetushallitus.fi">
            <img id="oph-logo" class="oph-logo"
                    th:title="${#strings.defaultString(#themes.code('cas.theme.name'), 'Opetushallitus')}"
                    th:src="@{${#strings.defaultString(#themes.code('cas.logo.oph.file'), '/images/oph_logo_vaaka.svg')}}"
            />
        </a>
    </span>
</footer>
