server.port: 8080
server.ssl.enabled: false
server.servlet.encoding.charset: UTF-8
server.servlet.encoding.force: true
server.servlet.encoding.enabled: true
server.forward-headers-strategy: NONE
server.max-http-request-header-size: 64KB

server.tomcat.accesslog.enabled: true
server.tomcat.accesslog.directory: /dev
server.tomcat.accesslog.prefix: stdout
server.tomcat.accesslog.buffered: false
server.tomcat.accesslog.suffix:
server.tomcat.accesslog.file-date-format:
server.tomcat.accesslog.pattern: "{\"timestamp\": \"%{yyyy-MM-dd'T'HH:mm:ss.SSSZ}t\", \"responseCode\": \"%s\", \"request\": \"%r\", \"responseTime\": \"%D\", \"requestMethod\": \"%m\", \"user-agent\": \"%{User-Agent}i\", \"caller-id\": \"%{Caller-Id}i\", \"x-forwarded-for\": \"%{X-Forwarded-For}i\", \"x-real-ip\": \"%{X-Real-IP}i\", \"remote-ip\": \"%a\", \"response-size\": \"%B\", \"referer\": \"%{Referer}i\"}"
server.tomcat.accesslog.request-attributes-enabled: true
server.tomcat.max-http-response-header-size: 64KB

management.endpoints.web.exposure.include: health
management.endpoint.health.access: READ_ONLY
management.endpoint.health.status.order: WARN,DOWN,OUT_OF_SERVICE,UNKNOWN,UP

cas.standalone.configuration-directory: .

cas.http-web-request.header.xframe: false
cas.http-web-request.header.xss: false
cas.http-web-request.header.xcontent: false
cas.http-web-request.header.hsts: false

spring.datasource.url: jdbc:postgresql://localhost:5080/cas
spring.datasource.driver-class-name: org.postgresql.Driver
spring.datasource.username: cas
spring.datasource.password: cas
spring.flyway.enabled: true
cas.ticket.registry.cleaner.schedule.enabled: true
cas.ticket.registry.core.enable-locking: false
cas.ticket.registry.jpa.ddl-auto: validate
cas.ticket.registry.jpa.dialect: org.hibernate.dialect.PostgreSQLDialect
cas.ticket.registry.jpa.enabled: true
cas.ticket.registry.jpa.driver-class: ${spring.datasource.driver-class-name}
cas.ticket.registry.jpa.password: ${spring.datasource.password}
cas.ticket.registry.jpa.url: ${spring.datasource.url}
cas.ticket.registry.jpa.user: ${spring.datasource.username}
cas.ticket.tgt.primary.time-to-kill-in-seconds: 28800
cas.ticket.tgt.primary.max-time-to-live-in-seconds: 28800

cas.slo.asynchronous: false
cas.audit.engine.alternate-client-addr-header-name: X-Real-IP

cas.authn.accept.users:

cas.tgc.secure: true
cas.tgc.path: /cas

cas.warning-cookie.secure: true
cas.warning-cookie.path: /cas

cas.logout.follow-service-redirects: true

cas.locale.default-value: fi

cas.view.default-redirect-url: http://localhost:8080
cas.sso.services.allow-missing-service-parameter: false
cas.service-registry.core.init-from-json: true

cas.custom.properties.uusHakaEnabled: false
cas.custom.properties.loginTietosuojaselosteUrl: http://localhost:8080/tietosuojaseloste/

cas.authn.mfa.triggers.rest.url: http://localhost:8101/kayttooikeus-service/mfa/trigger
cas.authn.mfa.triggers.rest.headers: {'Caller-Id': '1.2.246.562.10.00000000001.cas', 'CSRF': '1.2.246.562.10.00000000001.cas'}
cas.authn.mfa.triggers.rest.method: POST
cas.authn.mfa.triggers.rest.basic-auth-username: cas
cas.authn.mfa.triggers.rest.basic-auth-password: mfa
cas.authn.mfa.gauth.bypass.principal-attribute-name: idpEntityId
cas.authn.mfa.gauth.bypass.principal-attribute-value: vetuma
cas.authn.mfa.gauth.cleaner.schedule.enabled: false
cas.authn.mfa.gauth.core.issuer: Opetushallitus
cas.authn.mfa.gauth.core.label: Opintopolku
cas.authn.mfa.gauth.crypto.encryption.key: LNLuxm3B5mQiIwggT9vPewkGM7JeDebZWCBjdXxCWQY
cas.authn.mfa.gauth.crypto.signing.key: zMpvJwj7bEMW41YMJbAJzXHaSSH3A1JjzLfwXMSWth9yTFM3Ny3eHXmm9r5AEzU83rYNwGT__SicfrA-7ygRdA
cas.authn.mfa.gauth.rest.token-url: http://localhost:8101/kayttooikeus-service/mfa/token
cas.authn.mfa.gauth.rest.url: http://localhost:8101/kayttooikeus-service/mfa/token
cas.authn.mfa.gauth.rest.headers: {'Caller-Id': '1.2.246.562.10.00000000001.cas', 'CSRF': '1.2.246.562.10.00000000001.cas'}
cas.authn.mfa.gauth.rest.basic-auth-username: cas
cas.authn.mfa.gauth.rest.basic-auth-password: mfa

host.cas: localhost:8080
host.virkailija: localhost:8080
# Käyttöoikeuspalvelun userDetails rajapintaa kutsutaan ALB:n hostnamella (host.alb) IP-rajauksen tms takia. Lokaalisti ajettaessa kutsutaan suoraan palvelua.
host.alb: localhost:8101
kayttooikeus.baseurl: http://localhost:8101
serviceprovider.app.username.to.usermanagement: user1
serviceprovider.app.password.to.usermanagement: pass1
require-strong-identification: false
require-strong-identification.usernamelist: example11,example12
email-verification-enabled: false
email-verification-enabled.usernamelist: example21,example22
