.kutsuFormWrapper {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.kutsuFormHeader, .kutsuFormFooter {
  flex: 100%;
}
.basic-info, 
.add-to-organisation {
  flex: 0px;
}

.confirmation-modal {
  width: 75%;
  position: relative;
  margin: 2em auto;
  padding: .5em;
  background: #ffffff;
}
