.mainContainer {
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    padding: 40px;
}
.header {
    font-size: 0.6em;
    font-weight: bold;
    margin-bottom: 20px;
}