.topNavigation {
    position: absolute;
    top: 30px;
    right: 40px;
}
.topNavigation .navigationItem {
    padding: 10px;
    border: 2px solid gray;
    margin-left: 15px;
}
.topNavigation a.navigationItem {
    cursor: pointer;
}
.topNavigation .navigationItem.currentView {
    background-color: rgb(21, 158, 203);
    border: 2px solid rgb(21, 158, 203);
    color: white;
}