<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="60">
    <Appenders>
        <RollingFile name="file" fileName="/root/logs/oph-cas.log" append="true"
                     filePattern="oph-cas-%d{yyyy-MM-dd-HH}.log.%i">
{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n"/>
{% endraw %}
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncLogger name="org.apereo.inspektr.audit.support" level="trace" includeLocation="true" />
        <AsyncRoot level="trace">
            <AppenderRef ref="file"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
