.hakatunnus_popup_content {
    background-color: white;
    position: absolute;
    padding: 20px;

}

.hakatunnus_popup_content .close {
    float: right;
    padding-right: 10px;
    color: gray;
}

.popup_header {
    padding-bottom: 20px;
}

